In [1]:
import graphlab

In [2]:
sales = graphlab.SFrame('/Users/Sajjad/Downloads/kc_house_data.gl')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1516298107.log

This non-commercial license of GraphLab Create for academic use is assigned to msajjad@leomail.tamuc.edu and will expire on December 31, 2018.

In [3]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [6]:
sales['bedroom_squared'] = sales['bedrooms'] * sales['bedrooms']

In [7]:
sales['bed_bath_rooms'] = sales['bedrooms'] * sales['bathrooms']

In [16]:
import numpy as np
sales['log_sqft_living'] = sales['sqft_living'].apply(lambda x:np.math.log(x))

In [17]:
sales['lat_plus_long'] = sales['lat']+sales['long']

In [18]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	bedroom_squared	float
	bed_bath_rooms	float
	log_sqft_living	float
	lat_plus_long	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 25 columns]

In [19]:
train_data, test_data = sales.random_split(.8,seed = 0)

In [20]:
test_data['bedroom_squared'].mean()

12.446677701584296

In [21]:
test_data['bed_bath_rooms'].mean()

7.503901631591392

In [22]:
test_data['log_sqft_living'].mean()

7.55027467964594

In [23]:
test_data['lat_plus_long'].mean()

-74.6533349721731

In [25]:
model1 = graphlab.linear_regression.create(train_data,
                                          target = 'price',
                                          features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long'],
                                          validation_set = None,
                                          verbose = False)

In [26]:
model2 = graphlab.linear_regression.create(train_data,
                                          target = 'price',
                                          features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long','bed_bath_rooms'],
                                          validation_set = None,
                                          verbose = False)

In [28]:
model3 = graphlab.linear_regression.create(train_data,
                                          target = 'price',
                                          features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long',
                                                      'bed_bath_rooms','bedroom_squared', 'log_sqft_living', 'lat_plus_long'],

                                          validation_set = None,
                                          verbose = False)

In [29]:
model1.get('coefficients')

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.7444 | 1649985.42028 |
| sqft_living |  None | 310.263325778  | 3.18882960408 |
|   bedrooms  |  None | -59577.1160682 | 2487.27977322 |
|  bathrooms  |  None | 13811.8405418  | 3593.54213297 |
|     lat     |  None | 629865.789485  | 13120.7100323 |
|     long    |  None | -214790.285186 | 13284.2851607 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

In [30]:
model2.get('coefficients')

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+----------------+---------------+
|      name      | index |     value      |     stderr    |
+----------------+-------+----------------+---------------+
|  (intercept)   |  None | -54410676.1152 | 1650405.16541 |
|  sqft_living   |  None | 304.449298057  | 3.20217535637 |
|    bedrooms    |  None | -116366.043231 | 4805.54966546 |
|   bathrooms    |  None | -77972.3305135 | 7565.05991091 |
|      lat       |  None | 625433.834953  | 13058.3530972 |
|      long      |  None | -203958.60296  | 13268.1283711 |
| bed_bath_rooms |  None | 26961.6249092  | 1956.36561555 |
+----------------+-------+----------------+---------------+
[7 rows x 4 columns]

In [31]:
model3.get('coefficients')

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 10

Data:
+-----------------+-------+----------------+---------------+
|       name      | index |     value      |     stderr    |
+-----------------+-------+----------------+---------------+
|   (intercept)   |  None | -52974974.0602 |  1615194.9439 |
|   sqft_living   |  None | 529.196420564  | 7.69913498511 |
|     bedrooms    |  None | 28948.5277313  | 9395.72889106 |
|    bathrooms    |  None |  65661.207231  | 10795.3380703 |
|       lat       |  None | 704762.148408  | 1292011141.66 |
|       long      |  None | -137780.01994  | 1292011141.57 |
|  bed_bath_rooms |  None | -8478.36410518 | 2858.95391257 |
| bedroom_squared |  None | -6072.38466067 | 1494.97042777 |
| log_sqft_living |  None | -563467.784269 | 17567.8230814 |
|  lat_plus_long  |  None | -83217.1979248 | 1292011141.58 |
+-----------------+-------+----------------+---------------+
[10 rows x 4 columns]

In [38]:
model1.evaluate(train_data)

{'max_error': 4074878.2130960748, 'rmse': 236378.59645476125}

In [34]:
model1.evaluate

<bound method LinearRegression.evaluate of Class                          : LinearRegression

Schema
------
Number of coefficients         : 6
Number of examples             : 17384
Number of feature columns      : 5
Number of unpacked features    : 5

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 1
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 1.0784

Settings
--------
Residual sum of squares        : 9.71328233544e+14
Training RMSE                  : 236378.5965

Highest Positive Coefficients
-----------------------------
lat                            : 629865.7895
bathrooms                      : 13811.8405
sqft_living                    : 310.2633

Lowest Negative Coefficients
----------------------------
(intercept)                    : -56140675.7444
long                           : -214790.2852
bedrooms                       : -59577.1161
>

In [39]:
model2.evaluate(train_data)

{'max_error': 4014170.9329273775, 'rmse': 235190.93542836834}

In [40]:
model2.evaluate

<bound method LinearRegression.evaluate of Class                          : LinearRegression

Schema
------
Number of coefficients         : 7
Number of examples             : 17384
Number of feature columns      : 6
Number of unpacked features    : 6

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 1
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 0.0852

Settings
--------
Residual sum of squares        : 9.61592067856e+14
Training RMSE                  : 235190.9354

Highest Positive Coefficients
-----------------------------
lat                            : 625433.835
bed_bath_rooms                 : 26961.6249
sqft_living                    : 304.4493

Lowest Negative Coefficients
----------------------------
(intercept)                    : -54410676.1152
long                           : -203958.603
bedrooms                       : -116366.0432
bathrooms                      : -77972.3305
>

In [41]:
model3.evaluate(train_data)

{'max_error': 3193229.1778941527, 'rmse': 228200.04315514106}

In [42]:
model3.evaluate

<bound method LinearRegression.evaluate of Class                          : LinearRegression

Schema
------
Number of coefficients         : 10
Number of examples             : 17384
Number of feature columns      : 9
Number of unpacked features    : 9

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 1
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 0.0413

Settings
--------
Residual sum of squares        : 9.05276314555e+14
Training RMSE                  : 228200.0432

Highest Positive Coefficients
-----------------------------
lat                            : 704762.1484
bathrooms                      : 65661.2072
bedrooms                       : 28948.5277
sqft_living                    : 529.1964

Lowest Negative Coefficients
----------------------------
(intercept)                    : -52974974.0602
log_sqft_living                : -563467.7843
long                           : -137780.0199
lat_plus_long                  : -83217.1979
bed_bath_rooms                 : -8478.3641
>

In [44]:
model1.get('training_loss')

971328233543667.2

In [45]:
model2.get('training_loss')

961592067855751.5

In [46]:
model3.get('training_loss')

905276314555407.1

In [56]:
print(model1.evaluate(test_data))

{'max_error': 3950732.6883775964, 'rmse': 231462.44070022574}

In [58]:
print(model2.evaluate(test_data))

{'max_error': 3611744.7074824944, 'rmse': 230336.3019820938}

In [57]:
print(model3.evaluate(test_data))

{'max_error': 6279035.883126527, 'rmse': 244024.98958733617}

In [65]:
model1.evaluate(test_data)

{'max_error': 3950732.6883775964, 'rmse': 231462.44070022574}

In [70]:
res1 = test_data['price']- model1.predict(test_data)
r2 = res1* res1
RSS = r2.sum()
RSS

226568089092795.38

In [72]:
res2 = test_data['price']- model2.predict(test_data)
r2 = res2* res2
RSS = r2.sum()
RSS

224368799993615.4

In [73]:
res3 = test_data['price']- model3.predict(test_data)
r2 = res3* res3
RSS = r2.sum()
RSS

251829318951767.94

226568089092795.38